header.main {

	.login {
		float: right;
	}

  a {
  	text-decoration: none;
  }
  a:hover {
  	background: none;
  }

 	.navbar-top {
		height: 100px;
		overflow: hidden;
    background: #474747;
    margin-top:-10px;
    display: flex;

    .logo {
    	margin-top: 6px;
    }

    .search {
    	border: none;
    	width: 100%;
    	text-align: center;
    	padding-top: 35px;
    	margin-right: 300px;

    	input[type=text] {
    		width: 500px;
    		height: 25px;
    		border-radius: 4px;
    		text-align: center;
			}
			input[type=submit] {
    		width: 500px;
    		height: 25px;  	
			}

    }

    .search-field {
    	display: inline-block;    	
    }

	}

	.navbar {
    overflow: hidden;
    background: #6C6E70;
    font-size: 5em;
    height: 50px;
    text-align: left;
	}

	.navbar a {
	    float: left;
	    font-size: 16px;
	    color: white;
	    text-align: center;
	    padding: 17px 16px;
	    text-decoration: none;
	}

	.dropdown {
	    float: left;
	    overflow: hidden;
	}

	.dropdown .dropbtn {
	    font-size: 16px; 
	    font-weight: lighter;   
	    border: none;
	    outline: none;
	    color: white;
	    padding: 14px 16px;
	    background-color: inherit;
	    font-family: inherit;
	    margin: 0;
	}

	.navbar a:hover, .dropdown:hover .dropbtn {
	    background-color: #6C6E70;
	}

	.dropdown-content {
	    display: none;
	    position: absolute;
	    background-color: #f9f9f9;
	    min-width: 160px;
	    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	    z-index: 1;
	}

	.dropdown-content a {
	    float: none;
	    color: black;
	    padding: 12px 16px;
	    text-decoration: none;
	    display: block;
	    text-align: left;
	}

	.dropdown-content a:hover {
	    background-color: #ddd;
	}

	.dropdown:hover .dropdown-content {
	    display: block;
	}
}





#dropdown {

	a {
	  text-decoration: none;
	}

	nav {
	  font-family: monospace;
	}

	ul {
	  background: darkorange;
    list-style: none;
    margin: 0;
    padding-left: 0;
	}

	li {
	  color: #fff;
	  background: darkorange;
    display: block;
    float: left;
    padding: 1rem;
    position: relative;
    text-decoration: none;
	  transition-duration: 0.5s;
	}
	  
	li a {
	  color: #fff;
	}

	li:hover {
    background: red;
    cursor: pointer;
	}

	ul li ul {
    background: orange;
    visibility: hidden;
	  opacity: 0;
	  min-width: 5rem;
    position: absolute;
	  transition: all 0.5s ease;
	  margin-top: 1rem;
    left: 0;
	  display: none;
	}

	ul li:hover > ul,
	ul li ul:hover {
	  visibility: visible;
	  opacity: 1;
	  display: block;
	}

	ul li ul li {
    clear: both;
	  width: 100%;
	}
}