 			<%= image_tag("1920x80b.jpg", :size => "1440x80") %>
 			
 			<div class="navbar-top">
 				<div class="logo">
					<%= image_tag("logo_01.png") %>
				</div>
				<fieldset class="search">
		      <%= form_tag products_path, method: :get, class: "product_search" do %>
						<div class="search-field">
							<%= text_field_tag :title, params[:search], placeholder: "Search all products..." %>
						</div>
						
					  <% end %>
				</fieldset>
 			
 			</div>
 			
 			<div class="navbar">
 				<a href="/">All Products</a>
 				<div class="dropdown">
    			<button class="dropbtn">Categories 
     				<i class="fa fa-caret-down"></i>
    			</button>
	    		<div class="dropdown-content">
			      <a href="/categories/1">GPUs</a>
			      <a href="/categories/2">CPUs</a>
			      <a href="/categories/3">Memory</a>
			      <a href="/categories/10">Motherboards</a>
			      <a href="/categories/12">Storage</a>
			      <a href="/categories/13">Cases</a>
			      <a href="/categories/14">Power Supplies</a>
			      <a href="/categories/15">Fans</a>
	   		 </div>
  			</div> 
			</div>